{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product.product_name }}
{% endblock title %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
{% endblock head %}

{% block content %}
    <h2 class="mb-3">
        Histórico de {{ product.product_name }}
    </h2>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Informações gerais</h4>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="fw-bold">Nome:</span>
                        {{ product.product_name }}
                    </div>
            
                    <div class="list-group-item">
                        <span class="fw-bold">Bitola:</span>
                        {{ product.product_diameter }}
                    </div>
            
                    <div class="list-group-item">
                        <span class="fw-bold">Embalagem:</span>
                        {{ product.product_weight }}
                    </div>

                    <div class="list-group-item">
                        <span class="fw-bold">Código de barras:</span>
                        {{ product.product_codebar }}
                    </div>            
                </div>
                <div class="my-1">
                    <a href="{% url "products:information" slug=product.slug %}">Mais informações de {{ product.product_name }} <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Ação</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Responsável</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Criação</td>
                            <td>{{ product.created_at|date:"d/m/Y" }}</td>
                            <td>{{ product.created_at|time:"H:i" }}</td>
                            <td>{{ user.get_full_name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

