{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product.product_name }}
{% endblock title %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
{% endblock head %}

{% block content %}
    <h2 class="mb-3">
        {{ product.product_name }}
    </h2>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Informações gerais</h4>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="fw-bold">Nome:</span>
                        {{ product.product_name }}
                    </div>
            
                    <div class="list-group-item">
                        <span class="fw-bold">Bitola:</span>
                        {{ product.product_diameter }}
                    </div>
            
                    <div class="list-group-item">
                        <span class="fw-bold">Embalagem:</span>
                        {{ product.product_weight }}
                    </div>

                    <div class="list-group-item">
                        <span class="fw-bold">Código de barras:</span>
                        {{ product.product_codebar }}
                    </div>            
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col">
                <h4>Localização Física</h4>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="fw-bold">Localização:</span>
                        {{ product.storage_location }}
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold">Descrição:</span>
                        {% if not product.location_description %}
                            Nenhuma descrição fornecida.
                        {% else %}
                            {{ product.location_description }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col">
                <h4>Estoque</h4>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="fw-bold">Quantidade de Produtos:</span>
                        {{ product.product_quantity }}
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold">Estoque Mínimo:</span>
                        {{ product.min_stock_quantity }}
                    </div>
            
                    <div class="list-group-item">
                        <span class="fw-bold">Estoque Máximo:</span>
                        {{ product.max_stock_quantity }}
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold">Status do Produto:</span>
                        {{ product.product_status }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock content %}