{% load static %}
<script src="{% static 'base/css/base.css' %}"></script>

<form method="get" action="{% url search_url %}" id="search-form" class="row mb-3">
    <div class="d-flex">
      <div class="input-group me-3">
        <input value="{{ request.GET.q }}" class="form-control" type="text" name="q" id="search-field" placeholder="Buscar" />
        <button type="button" id="clear-button" class="btn btn-outline-primary"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn color-theme">Buscar</button>
      </div>
    </div>
</form>