{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Cadastro de Usuário
{% endblock title %}

{% block content %}
    <h2>Cadastro de Usuários</h2>
    <form method="post" enctype="multipart/form-data">
        {% include "partials/_form_non_field_errors.html" %}
        {% csrf_token %}

        {{ form.first_name|as_crispy_field }}
        {{ form.last_name|as_crispy_field }}
        {{ form.username|as_crispy_field }}

        {{ form.password|as_crispy_field }}
        {{ form.confirm_password|as_crispy_field }}

        {{ form.is_staff|as_crispy_field }}

        {% include "partials/_submit_button.html" %}
    </form>
{% endblock content %}