{% extends "base.html" %}
{% block title %}
    Perfil {{ user.first_name }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Minhas Configurações</h2>

        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#profile" role="button" aria-expanded="true" aria-controls="profile">
                    Perfil <i class="bi bi-person"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#config" role="button" aria-expanded="false" aria-controls="config">
                    Aparência <i class="bi bi-card-text"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#history" role="button" aria-expanded="false" aria-controls="history">
                    Histórico de Atividades <i class="bi bi-clock-history"></i>
                </a>
            </li>

            <li class="flex-grow-1"></li>

            <li class="nav-item">
                <form action="{% url "users:logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-link link-dark">
                        <i class="bi bi-box-arrow-left"></i>
                        Sair ou Encerrar Sessão
                    </button>
                </form>
            </li>
        </ul>
        <hr>

        <div class="my-3 collapse show {% if section == "profile" %} show{% endif %}" id="profile">
            <div class="card card-body">
                <h4>{{ request.user.get_full_name }}</h4>

                <ul class="list-group list-group-flush my-3">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">
                        <a href="{% url "users:user-update" pk=request.user.pk %}">
                            Editar Informações Pessoais
                        </a>
                    </li>
                </ul>

                <h4>Informações Pessoais</h4>

                <ul class="list-group list-group-flush my-3">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>

        <div class="my-3 collapse{% if section == "config" %} show{% endif %}" id="config">
            <div class="card card-body">
                <h4>Configurações de aparência</h4>
                Tema escuro tema claro
            </div>
        </div>

        <div class="my-3 collapse{% if section == "history" %} show{% endif %}" id="history">
            <div class="card card-body">
                <h4>Histórico de Atividades</h4>
                Informações sobre  as atividades do usuário
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            const currentLocation = location.search;
    
            function setActiveProfileLink() {
                if (!currentLocation.includes("section=config") && !currentLocation.includes("section=history")) {
                    $(".nav-link[data-bs-toggle='collapse']").removeClass("active");
                    $(".nav-link[data-bs-toggle='collapse'][href='#profile']").addClass("active");
                }
            }
    
            // Verificar se a URL contém o parâmetro "section"
            if (currentLocation.includes("section=config")) {
                // Se a seção for "config", adicionar a classe "active" ao link correspondente
                $(".nav-link[data-bs-toggle='collapse'][href='#config']").addClass("active");
            } else if (currentLocation.includes("section=history")) {
                // Se a seção for "history", adicionar a classe "active" ao link correspondente
                $(".nav-link[data-bs-toggle='collapse'][href='#history']").addClass("active");
            }
    
            // Ocultar o collapse de perfil se a seção for "config" ou "history"
            if (currentLocation.includes("section=config") || currentLocation.includes("section=history")) {
                $("#profile").collapse("hide");
            }
    
            setActiveProfileLink();
    
            $(".nav-link[data-bs-toggle='collapse']").click(function(event){
                event.preventDefault();
    
                $(".nav-link[data-bs-toggle='collapse']").removeClass("active");
    
                var targetCollapse = $(this).attr("href");
                $(".collapse").collapse("hide");
               
                if (!$(targetCollapse).hasClass("show")) {
                    $(targetCollapse).collapse("show");
                    $(this).addClass("active");
                }
            });
            
            $(".collapse").on("hidden.bs.collapse", function () {
                if (!$(".collapse.show").length) {
                    $("#profile").collapse("show");
    
                    setActiveProfileLink();
                }
            });
        });
    </script>
    
    
    
    
    
{% endblock content %}
