{% extends "base.html" %}
{% block title %}
    Perfil {{ user.first_name }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Minhas Configurações</h2>

        <ul class="nav nav-underline flex-nowrap">
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#profile" role="button" aria-expanded="true" aria-controls="profile">
                    Perfil <i class="bi bi-person"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#config" role="button" aria-expanded="false" aria-controls="config">
                    Aparência <i class="bi bi-card-text"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" data-bs-toggle="collapse" href="#history" role="button" aria-expanded="false" aria-controls="history">
                    Histórico <i class="bi bi-clock-history"></i>
                </a>
            </li>

            <li class="flex-grow-1"></li>

            <li class="nav-item">
                <form action="{% url "users:logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-link link-dark">
                        <i class="bi bi-box-arrow-left"></i>
                        <span class="d-none d-lg-inline">Sair ou Encerrar Sessão</span>
                    </button>
                </form>
            </li>
        </ul>
        <hr>

        <div class="my-3 collapse show {% if section == "profile" %} show{% endif %}" id="profile">
            <div class="card card-body">
                <div class="d-flex">
                    <h4>Informações da conta</h4>
                    <span class="flex-grow-1"></span>
                    <a href="{% url "users:user-update" pk=request.user.pk %}" class="nav-link link-dark">
                        <div class="d-none d-lg-inline">
                            <i class="bi bi-pencil-square"></i>
                            Editar Informações da Conta
                        </div>
                        <div class="d-lg-none">
                            <i class="bi bi-pencil-square fs-5"></i>
                        </div>
                    </a>
                </div>

                <ul class="list-group list-group-flush my-3">
                    <li class="list-group-item">
                        <span class="fw-medium">Nome:</span> {{ request.user.get_full_name }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-medium">Usuário:</span> {{ request.user.username }}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-medium">Telefone:</span>
                        {% if employee.phone %}
                            {{ employee.phone }}
                        {% else %}
                            <span class="text-danger">
                                <i class="bi bi-exclamation-triangle"></i> Sem número de telefone
                            </span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <span class="fw-medium">E-mail:</span>
                        {% if user.email %}
                            {{ user.email }}
                        {% else %}
                            <span class="text-danger">
                                <i class="bi bi-exclamation-triangle"></i> Sem endereço de e-mail
                            </span>
                        {% endif %}
                    </li>
                </ul>

                <h4>Informações Pessoais</h4>

                <ul class="list-group list-group-flush my-3">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>

        <div class="my-3 collapse{% if section == "config" %} show{% endif %}" id="config">
            <div class="card card-body">
                <h4>Configurações de aparência</h4>
                Tema escuro tema claro
            </div>
        </div>

        <div class="my-3 collapse{% if section == "history" %} show{% endif %}" id="history">
            <div class="card card-body">
                <h4>Histórico de Atividades</h4>
                Informações sobre  as atividades do usuário
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            const currentLocation = location.search;
    
            function setActiveProfileLink() {
                if (!currentLocation.includes("section=config") && !currentLocation.includes("section=history")) {
                    $(".nav-link[data-bs-toggle='collapse']").removeClass("active");
                    $(".nav-link[data-bs-toggle='collapse'][href='#profile']").addClass("active");
                }
            }
    
            // Verificar se a URL contém o parâmetro "section"
            if (currentLocation.includes("section=config")) {
                // Se a seção for "config", adicionar a classe "active" ao link correspondente
                $(".nav-link[data-bs-toggle='collapse'][href='#config']").addClass("active");
            } else if (currentLocation.includes("section=history")) {
                // Se a seção for "history", adicionar a classe "active" ao link correspondente
                $(".nav-link[data-bs-toggle='collapse'][href='#history']").addClass("active");
            }
    
            // Ocultar o collapse de perfil se a seção for "config" ou "history"
            if (currentLocation.includes("section=config") || currentLocation.includes("section=history")) {
                $("#profile").collapse("hide");
            }
    
            setActiveProfileLink();
    
            $(".nav-link[data-bs-toggle='collapse']").click(function(event){
                event.preventDefault();

                var targetCollapse = $(this).attr("href");

                if ($(this).hasClass("active") && (currentLocation.includes("section=config") || currentLocation.includes("section=history"))) {
                    if (targetCollapse !== "#profile") {
                        $(".nav-link[data-bs-toggle='collapse']").removeClass("active");
                        $(".nav-link[data-bs-toggle='collapse'][href='#profile']").addClass("active");
                        return;  
                    } else{
                        $("#profile").addClass("show");
                        return;
                    };
                };
    
                $(".nav-link[data-bs-toggle='collapse']").removeClass("active");
                
                $(".collapse").collapse("hide");
               
                if (!$(targetCollapse).hasClass("show")) {
                    $(targetCollapse).collapse("show");
                    $(this).addClass("active");
                }
            });
            
            $(".collapse").on("hidden.bs.collapse", function () {
                if (!$(".collapse.show").length) {
                    $("#profile").collapse("show");
    
                    setActiveProfileLink();
                }
            });
        });
    </script>
{% endblock content %}
