main {
    height: 100vh;
}

.font-logo {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.font-logo-d-lg-none {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.font-sub-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
}

.btn-sticky-bottom {
    position: fixed;
    bottom: 16px;
    right: 32px;
}

.bi-plus {
    font-size: 24px;
    color: black;
}

.color-theme {
    background-color: #ffeb3b;
}

.color-theme-d-lg-none {
    background-color: #ffeb3b;
}

.color-theme:hover {
    background-color: #ffeb3b !important; 
    border-color: rgba(218, 220, 224, .1);
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.color-theme:focus {
    background-color: rgba(255, 235, 59, 0.8) !important; 
    border-color: rgba(66, 133, 244, .1);
    outline: none;
}